<div class="card my-3">
  <img src="{{ data.image }}" class="card-img-top p-3" alt="..." routerLink="/details/{{data.id}}" />
  <div class="card-body">
    <h5 class="card-title">{{ data.title }}</h5>
    <!-- <h5 class="card-title">{{data.category}}</h5> -->
    <p class="card-text">{{ data.description }}</p>
    <p class="bg-success w-25 text-light rounded text-center">
      {{ data.price | currency }}
    </p>
    <a class="btn btn-primary" *ngIf="apearAddBtn" (click)="disAppear()">Add to Card</a>
    <a class="btn btn-primary ms-2" *ngIf="apearAddBtn" routerLink="/details/{{data.id}}">Details</a>
    <div>
      <div class="my-3 w-50" *ngIf="!apearAddBtn">
        <!-- <label for="count-id" class="form-label">define quantity</label> -->
        <input type="number" class="form-control" [(ngModel)]="amount" id="count-id" aria-describedby="helpId"
          placeholder="" />
        <button type="button" class="btn bg-danger mt-2" (click)="add();apearAddBtn = true">
          Add
        </button>

      </div>
    </div>
  </div>
</div>
